body {
  font-family: "Arial Regular", serif;
}
header {
  background-color: #03a3df;
  width: 1628px;
  height: 200px;
  /*text-align: center;*/
  margin-left: 125px;
  padding-left: 25px;
  padding-top: 25px;
}
h1, h2 {
  margin-left: 170px;
  margin-top: 50px;
}
.nav {
  display: inline;
  /*font-family:Comic Sans MS;*/
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}
li {
  display: inline;
}
.aside {
  font-size: 17px;
}
aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 180px;
  margin-top: 80px;
  float: right;
  color: hsl(0, 0%, 24%); /*dark grey text color*/
}
footer {
    z-index: -1;
}
#footer {
  text-align: center;
}
.container {
  /*position: absolute;*/
  text-align: center;
  color: white;
}
.text-footer{
  position: absolute;
  z-index: 2;
  left: 250px;
  top: 950px;
}
p.padding {
  padding-top: 5px;;
  padding-right: 25px;
  margin-left: 170px;
  margin-bottom: 40px;
}
/*grid*/
.grid{
  background: #eee;
  max-width: 1628px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1ft);
  grid-template-rows: 100px 200px 300px;
}
.grid > .header {
  background: #03a3df;
}
/*
.grid > .article {
  display: grid;
  grid-template-columns: 814px 814px;
}*/
.grid > div:nth-child(1) {
  grid-column: span 6;
}
.grid > div:nth-child(2) {
  grid-column: span 6;
  height: 600px;
}
.grid > div:nth-child(3) {
  grid-column: 2 / span 2;
}
.grid > div:nth-child(4) {
  grid-column: 3 / span 2;

}
.grid > div:nth-child(5) {
  grid-column: 2 / span 2;
}
.grid > #footer {
  grid-column: span 6;
}
